
body {
    margin: 0;
    padding: 0;
}

div#appContainer {
    margin: 1em;
}

button {
    margin: 0.5em;
}

div#fullscreenContainer {
    margin: 0;
    padding: 0;
}

#debugCanvasContainerInnerContent {
    display: flex;
    flex-flow: row wrap;
}

#debugCanvasContainer div {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.25em;
}
